input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display: inline-block;
	width: 30px;
	height: 30px;
	border-width: 3px;
	border-style: solid;
	cursor: pointer;
	padding: 1px;
	margin: -2px -5px -5px -5px;
}

input[type="radio"] + label span {
	border-color:black;
	border-width: 1px;
}

input[type="radio"]:checked + label span{
	border-color:red;
	border-width: 2px;
}

.teks-bold{
	font-weight:bold;
}