SetEnv TZ Asia/Jakarta

RewriteEngine On
RewriteCond %{HTTPS} off

ErrorDocument 404 https://oreli.co.id/404.php

#RewriteRule ^(.*)$ https://oreli.co.id/$1
RewriteRule ^home$ index.php?home
RewriteRule ^([a-zA-Z]{3}[0-9]{3})$ index.php?sponsor=$1
RewriteRule ^([a-zA-Z]{3}[0-9]{4})$ index.php?sponsor=$1
RewriteRule ^verifikasi/email/(.*+)$ verifikasi.php?verifikasi=email&value=$1
RewriteRule ^verifikasi/handphone/(.*+)$ verifikasi.php?verifikasi=handphone&value=$1
RewriteRule ^member/akun$ member.php
RewriteRule ^member/akun/password$ member.php?password
RewriteRule ^member/alamat$ member_alamat.php
RewriteRule ^member/rekening$ member_rekening.php
RewriteRule ^member/poin$ member_poin.php
RewriteRule ^member/pesanan$ member_pesanan.php
RewriteRule ^member/downline$ member_downline.php
RewriteRule ^member/undang-member$ undang_member.php
RewriteRule ^member/alamat/tambah$ member_alamat.php?tambah
RewriteRule ^member/alamat/edit/([0-9]+)$ member_alamat.php?edit=$1
RewriteRule ^member/alamat/hapus/([0-9]+)$ member_alamat.php?hapus=$1
RewriteRule ^member/rekening/tambah$ member_rekening.php?tambah
RewriteRule ^member/rekening/edit/([0-9]+)$ member_rekening.php?edit=$1
RewriteRule ^member/rekening/hapus/([0-9]+)$ member_rekening.php?hapus=$1
RewriteRule ^member/pesanan/detail/([0-9]+)$ member_pesanan.php?detail=$1
RewriteRule ^member/pesanan/return/([0-9]+)$ member_pesanan.php?return=$1
RewriteRule ^member/pembayaran/refund/([0-9]+)$ member_pesanan.php?refund=$1
RewriteRule ^member/poin/pencairan$ member_poin.php?cair
RewriteRule ^member/poin/transfer$ member_poin.php?transfer
RewriteRule ^member/poin/bonus$ member_poin.php?bonus
RewriteRule ^wishlist$ wishlist.php
RewriteRule ^cart$ shoppingcart.php
RewriteRule ^checkout$ checkout.php?checkout=1
RewriteRule ^register$ auth.php?register=admin
RewriteRule ^forgot-password$ auth.php?lostpassword
RewriteRule ^forgot-password/(.*+)$ auth.php?lostpassword=1&reset=$1
RewriteRule ^login$ auth.php?login
RewriteRule ^masuk$ login.php
RewriteRule ^logout$ logout.php
RewriteRule ^edit-cart$ olahCart.php
RewriteRule ^tentang_kami$ about.php
RewriteRule ^kontak$ contact.php
RewriteRule ^kebijakan$ kebijakan.php?kebijakan=syarat_ketentuan
RewriteRule ^kebijakan/(.*+)$ kebijakan.php?kebijakan=$1
RewriteRule ^invoice$ invoice.php
RewriteRule ^member/invoice/([0-9]+)$ invoice.php?invoice=$1
RewriteRule ^invoice/([0-9]+)$ invoice.php?invoice=$1
RewriteRule ^invoice/guest/(.*+)$ invoiceGuest.php?invoice=$1
RewriteRule ^lacak-order$ lacakOrder.php
RewriteRule ^konfirmasi-pembayaran$ konfirmasi_pembayaran.php
RewriteRule ^return$ return.php
RewriteRule ^produk/(.*+)$ product.php?produk=$1
RewriteRule ^list$ listing.php 
RewriteRule ^list/$ listing.php 
RewriteRule ^list/([a-z]+)$ listing.php?gender=$1
RewriteRule ^list/([a-z]+)/([a-z]+)$ listing.php?gender=$1&slug=$2
RewriteRule ^list/([a-z]+)/([a-z]+)/(.*+)$ listing.php?gender=$1&slug=$2&jenis=$3
